* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 33px auto;
}

.header_menu {
    margin: 0 auto 0 25px;
}

.header_list {
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    display: flex;
}

.header_list a {
    color: #1E0606;
    margin-right: 20px;
}

.header button {
    margin-right: 23px;
    background: #FFFFFF;
}

a {
    text-decoration: none;
    color: #1E0606;
    display: block;

}

.undotted {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button_primary {
    background: black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display:inline-block;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px 22px
    
}

.rating {
    display: flex;
}

.rating ul {
    display: flex;
    margin: 0px 55px 0 25px;
}

.footer {
    background: #434343;
}

.footer_colum {
    display: flex;
    justify-content: space-around;
    margin-top: 0px
}

.footer_company {
    display: flex;
    align-items: center;
    margin: 55px 70px 100px 95px;
    justify-content: space-between;
}

.footer span {
    color: #AAAAAA;
}

.footer a {
    color: #FFFFFF;
}

.footer_colum div {
    margin: 100px 0 0
}

.web a {
    color: #A2A2A2;
}

.copyright p {
    color: white;
}

.form_email {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}