.toys_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin: 60px 0 15px;
}


.toys_choice {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 26px;
    padding-bottom: 27px;
}

.toys_choice button {
    display: inline-block;
    margin-top: 52px;
    margin-right: 82px;
}

.toys_choice h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 15px;
}

.toys_cost {
    margin-right: 210px;
}


.toys_delivery {
    margin-left: 60px;
    margin-right: 18px;
}

.color_list li {
    margin-bottom: 15px;
}

.delivery_list li {
    margin-bottom: 15px;
}

.back_color {
    background: rgba(125, 151, 218, 0.2);
}

.amount_list {
    display: flex;

}

.amount_list li {
    width: 80px;
    height: 35px;
    background: #FFFFFF;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.products_list li {
    margin-right: 20px;
    margin-bottom: 22px;
}

.products_list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.products_list span {
    margin-top: 24px;
    margin-left: 15px;
}

.price {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 15px;
}

